html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input{
  height: 0.4em !important;
}
.css-1c2i806-MuiFormLabel-root-MuiInputLabel-root{
  font-size: 18px !important;
}
.css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root{
  top: -5px !important;
  font-size: 13px !important;
}
.css-10mi8st-MuiSvgIcon-root-MuiAvatar-fallback {
  margin-right: 0 !important;
}
.css-1dt7mgq-MuiStack-root{
  margin-top: 0px !important;
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 7px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}